@import url("./variables.css");
@import url("./fonts.css");

* {
    position: relative;
    padding: 0;
    margin: 0;
    /* font-family: 'Inter', sans-serif; */
    color: var(--font-color-default);
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

html,
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh; /* fallback for Js load */
    height: var(--doc-height);
    width: 100%;
    background-color: black;
    font-size: 20px;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    background-color: #0f0e0d;
}

.header__logo {
    width: 70%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 85%;
    overflow-y: scroll;
}

.main--prestations {
    background-image: url('https://st4.depositphotos.com/16122460/26783/i/450/depositphotos_267839490-stock-photo-luxury-makeup-products-and-accessories.jpg');
    background-size: cover;
    background-position: center;
}
.main--prestations::before {
    content: '';
    position: fixed;
    background-color: #000000;
    width: 100%;
    height: 100%;
    opacity: .75;
}

.main--contact {
    background-image: url('https://thumbs.dreamstime.com/b/t%C3%A9l%C3%A9phone-portable-sur-un-journal-intime-ou-un-journal-ouvert-45047944.jpg');
    background-size: cover;
    background-position: center;
}
.main--contact::before {
    content: '';
    position: fixed;
    background-color: #000000;
    width: 100%;
    height: 100%;
    opacity: .75;
}

/* -------------------- ACCUEIL --------------------------- */

.main-intro-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 100%;
    background-color: #1a1817;
    padding: 0 15%;
}

.main-intro {
    font-weight: 100;
    font-size: 14px;
    text-align: center;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 100%;
    background-color: var(--palette-4);
    padding: 0 var(--horizontal-padding);
}
.category::before {
    position: absolute;
    content: '';
    background-color: #000000;
    width: 100%;
    height: 100%;
    opacity: .75;
}

.category--main {
    height: 50%;
}

.category--prestations {
    background-image: url('https://st4.depositphotos.com/16122460/26783/i/450/depositphotos_267839490-stock-photo-luxury-makeup-products-and-accessories.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.category--contact {
    background-image: url('https://thumbs.dreamstime.com/b/t%C3%A9l%C3%A9phone-portable-sur-un-journal-intime-ou-un-journal-ouvert-45047944.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.category__sub-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    height: 80%;
    backdrop-filter: blur(10px);
    box-shadow: 0px 5px 11px 2px #0000006c;
    border-radius: 10px;
}

.category__sub-div__colored-sub-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%;
    height: 100%;
    background-color: var(--palette-1);
    border-radius: 10px 0 0 10px;
}
.sub-div--prestations {
    background-color: var(--palette-3);
}
.sub-div--contact {
    background-color: var(--palette-2);
}
.animate--colored-div {
    animation: home-colored-div-animation .5s forwards;
}

@keyframes home-colored-div-animation {
    0% {   
        border-radius: 10px 0 0 10px;
        width: 30%;
    }

    100% {
        border-radius: 10px 10px 10px 10px;
        width: 100%;
    }
}

.category__sub-div__sub-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    height: 100%;
    padding: 10px 15px;
    /* background-color: #000000; */
    border-radius: 0 10px 10px 0;
    
    font-family: rakesly-ultra-light;
    font-size: 25px;
    letter-spacing: 2px;
}

.animate--text-div {
    animation: home-text-div-animation .5s forwards;
}

@keyframes home-text-div-animation {
    0% {
        font-size: 25px;
        opacity: 1;
        padding: 10px 15px;
        width: 70%;
    }

    50% {
        opacity: 0;
    }

    100% {
        font-size: 0px;
        opacity: 0;
        padding: 0;
        width: 0%;
    }
}

/* -------------------------------------------------------------- */
/* Prestations */
/* -------------------------------------------------------------- */

.prestations-group-tile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 40px;
    padding: 0 20px;
}

.prestation-tile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 11px 2px #0000006c;
    backdrop-filter: blur(10px);
    overflow-y: hidden;
    overflow-x: hidden;
    transition: height .3s ease-in-out;
}

.small-tile-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 250px;
    height: 250px;
}


.prestation-tile__color {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    transition: border-radius .3s linear;
}
.--palette-4 {
    background-color: var(--palette-4);
}
.--palette-3 {
    background-color: var(--palette-3);
}
.--palette-2 {
    background-color: var(--palette-2);
}
.--palette-1 {
    background-color: var(--palette-1);
}

.color-tile__down-arrow {
    width: 40%;
    transition: transform .3s linear;
}

.prestation-tile__infos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 75%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    padding: 10px 15px;
}

h1, h2, h3 {
    font-family: rakesly-extra-light;
}
h1, h2 {
    color: var(--palette-1);
}
h1 {
    margin: 10px;
    margin-left: 20px;
    letter-spacing: 1px;
}
h2 {
    margin-bottom: 20px;
    letter-spacing: 2px;
}
h3 {
    font-size: 25px;
    font-family: rakesly-ultra-light;
    color: var(--font-color-accent);
    margin-bottom: 10px;
    letter-spacing: 2px;
}

h4, h5, h6 {
    font-weight: 300;
    margin-bottom: 5px;
}
h4 {
    font-size: 18px;
}

.prestation-description {
    font-size: 14px;
}

.prestation-dur-price-div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin-top: auto;

}
.prestation-duration {
    font-weight: 400;
    font-size: 18px;
}
.prestation-price {
    font-weight: 600;
    font-size: 24px;
}
.prestation-currency {
    margin-left: 2px;
    font-size: 20px;
}

.prestation-option {
    width: 100%;
    margin-top: 5px;
    font-size: 14px;
    text-align: end;
}

.image-tile-part {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    min-height: 250px;
    height: 250px;
    overflow-x: scroll;
}

.prestation-tile__image {
    display: flex;
    width: 29.5%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.prestation-picture {
    display: flex;
    height: 100%;
    min-width: 150px;
    width: 150px;
    background-position: center;
    background-size: cover;
    /* border-radius: 10px; */
}

.fullscreen-blacked-div {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000000b2;
}

.fullscreen-image {
    max-width: 90%;
    max-height: 80%;
    border-radius: 20px;
}

/* ------------------------------------------------------------------------- */

.contact-tile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 40px);
    height: 20%;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin: 0 20px;
    margin-bottom: 5%;
}

.contact-tile__colorTile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.social-icon {
    width: 50px;
}

.contact-info {
    margin-left: 20px;
    font-size: 14px;
    text-decoration: none;
}