:root {
    /* ########################################################################
    --------------------------------- COLORS ---------------------------------
    ######################################################################## */

    /* Gray */
    --gray-90: #191919;
    --gray-80: #333333;
    --gray-70: #4d4d4d;
    --gray-60: #666666;
    --gray-50: #808080;
    --gray-40: #999999;
    --gray-30: #b3b3b3;
    --gray-20: #cccccc;
    --gray-10: #e6e6e6;

    --filter-white: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(187deg) brightness(103%) contrast(101%);

    /* OMU */
    --palette-1: #d3b795;
    --filter-palette-1: brightness(0) saturate(100%) invert(82%) sepia(43%) saturate(251%) hue-rotate(343deg) brightness(86%) contrast(91%);

    --palette-2: #aa7a5a;
    --filter-palette-2: brightness(0) saturate(100%) invert(54%) sepia(15%) saturate(1147%) hue-rotate(341deg) brightness(92%) contrast(86%);

    --palette-3: #6e4f3e;
    --filter-palette-3: brightness(0) saturate(100%) invert(33%) sepia(11%) saturate(1412%) hue-rotate(337deg) brightness(92%) contrast(92%);

    --palette-4: #3c2c26;
    --filter-palette-4: brightness(0) saturate(100%) invert(13%) sepia(7%) saturate(2530%) hue-rotate(330deg) brightness(99%) contrast(86%);

    /* Primary */
    --primary: #3a386e;
    --primary-hover: #494870;

    --primary-contrast : #ffffff;

    /* Accent */
    --accent: #f29746;

    /* Constant colors */
    --lazr-red: #b85858;
    --html-background-color: var(--gray-90);
    
    /* Font colors */
    --font-color-default: var(--gray-20);

    --font-color-links: var(--palette-1);

    --font-color-header: var(--on-primary);
    --font-color-header-hover: var(--on-primary);
    --font-color-header-focus: var(--on-primary);

    --font-color-footer: var(--on-primary);

    --box-shadow-soft: 0px 3px 10px #0000004f;
    --box-shadow: 0px 6px 8px #0000008f;
    --box-shadow-strong: 0px 7px 10px #000000ab;

    /* ########################################################################
    ---------------------------------- SIZES ----------------------------------
    ######################################################################## */

    /* ------------------------------------------------------------------------
    --------------------------------- HEIGHTS ---------------------------------
    ------------------------------------------------------------------------ */

    /* --------------------------- header height --------------------------- */
    --phone-header-height: 11dvh;
    --tablet-header-height: 11dvh;
    --laptop-header-height: 11dvh;
    --desktop-header-height: 11dvh;
    /* --------------------------------------------------------------------- */
    --header-height: var(--phone-header-height);
    /* --------------------------------------------------------------------- */

    /* ---------------------------- main height ---------------------------- */
    --phone-main-height: 82dvh;
    --tablet-main-height: 82dvh;
    --laptop-main-height: 82dvh;
    --desktop-main-height: 82dvh;
    /* --------------------------------------------------------------------- */
    --main-height: var(--phone-main-height);
    /* --------------------------------------------------------------------- */

    /* --------------------------- footer height --------------------------- */
    --phone-footer-height: 7dvh;
    --tablet-footer-height: 7dvh;
    --laptop-footer-height: 7dvh;
    --desktop-footer-height: 7dvh;
    /* --------------------------------------------------------------------- */
    --footer-height: var(--phone-footer-height);
    /* --------------------------------------------------------------------- */

    /* ------------------------------------------------------------------------
    -------------------------------- PADDINGS --------------------------------
    ------------------------------------------------------------------------ */

    /* --- horizontal padding --- */
    --phone-horizontal-padding: 6dvw;
    --tablet-horizontal-padding: 7dvw;
    --laptop-horizontal-padding: 10dvw;
    --desktop-horizontal-padding: 16dvw;
    /* --------------------------------------------------------------------- */
    --horizontal-padding : var(--phone-horizontal-padding);
    /* --------------------------------------------------------------------- */

    
    --button-border-radius: 0;

    /* Button font size */
    --phone-button-font-size: 18px;
    --tablet-button-font-size: 16px;
    --laptop-button-font-size: 15px;
    --desktop-button-font-size: 14px;
    /* --------------------------------------------------------------------- */
    --button-font-size: var(--phone-button-font-size);
    /* --------------------------------------------------------------------- */
}

/* ############################################################################
-------------------------------- MEDIA QUERIES --------------------------------
############################################################################ */

/* -------------------------------- Tablets -------------------------------- */

@media (min-width : 767px) and (max-width : 1279px) {
    :root {
        --main-height: var(--tablet-main-height);
        --header-height: var(--tablet-header-height);
        --footer-height: var(--tablet-footer-height);
        --horizontal-padding : var(--tablet-horizontal-padding);
    }
}

/* -------------------------------- Laptops -------------------------------- */

@media (min-width: 1280px) and (max-width: 1919px) {
    :root {
        --main-height: var(--laptop-main-height);
        --header-height: var(--laptop-header-height);
        --footer-height: var(--laptop-footer-height);
        --horizontal-padding : var(--laptop-horizontal-padding);
    }
}

/* -------------------------------- Desktops -------------------------------- */

@media (min-width: 1920px) {
    :root {
        --main-height: var(--desktop-main-height);
        --header-height: var(--desktop-header-height);
        --footer-height: var(--desktop-footer-height);
        --horizontal-padding : var(--desktop-horizontal-padding);
    }
}